/*
CSS Credit: http://www.templatemo.com/
*/

body {
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 11px;
	color: #333333;
}

a:link, a:visited { color: #750a20; text-decoration: none;} 
a:active, a:hover { color: #FF0000;}

p {
	margin: 0 0 5px 0;
	padding: 0px;
}

h1 {
	margin: 0 0 5px 0;
	padding: 10px 0 10px 0;
	font-size: 24px;
	font-weight: bold;
	line-height: 28px;
	color: #750a20;
}

h2 {
	margin: 0 0 10px 0;
	padding: 5px 0;
	font-size: 16px;
	font-weight: bold;
	color: #333333;
}

h3 {
	margin: 0 0 5px 0;
	padding: 2px 0;
	font-size: 12px;
	font-weight: bold;
	color: #750a20;
}

h4 {
	margin: 0 0 5px 0;
	padding: 2px 0;
	font-size: 16px;
	font-weight: bold;
	color: #750a20;
}

.updatedtime {
	font-size: 10px;
	font-weight: bold;
	color: #FF0000;
}

.view_all a{
	clear: both;
	display: block;
	width: 100%;
	padding: 5px 0 1px 0;
	margin-bottom: 5px; 
	font-weight: bold;
	text-decoration: none;
	border-top: 1px dotted #CCC;
}

#container {
	margin: auto;
	width: 1000px;
}

#top_panel {
	float: left;
	width: 1000px;
	height: 100px;
	margin: 0px;
	color: #FFF;
	background: #003 url(../bundles/symfonytndemo/third-party/theme/images/top_panel_background.jpg) no-repeat;
}

#sitetitle {
	float: left;
	width: 300px;
	margin: 55px 0 0 15px;
	padding: 10px 0 5px 0;
	font-size: 35px;
	font-weight: bold;
	color: #FFF;
}

#searchbox {
	float: left;
	width: 320px;
	margin: 40px 0 0 15px;
}

#searchbox form {
	margin: 0px;
	padding: 0px;
}

#searchfield{
	background:#FFFFFF;
	border: none;
	color: #000;
	font-size: 13px;
	font-variant: normal;
	height: 16px;
	line-height: normal;
	padding: 4px;
	width: 200px;
}


#searchbutton{
	background: url(../bundles/symfonytndemo/third-party/theme/images/search_button.gif); 
	border: none;
	cursor: pointer;
	font-size: 12px;
	font-weight: bold;
	height: 24px;
	margin: 0 0 0 7px;
	padding: 0 6px;
	text-align: center;
	vertical-align: bottom;
	white-space: pre;
	width: 66px;
}

#currentdate {
	float: right;
	width: 300px;
	margin: 70px 15px 0 0;
	text-align: right;
	font-weight: bold;
}

/*------------- Menu ------------------*/
#menu {
	float: left;
	width: 1000px;
	height: 30px;
	background: #750a20 url(../bundles/symfonytndemo/third-party/theme/images/menu_bg.gif) repeat-x;
	border-bottom: 1px solid #333;
}

#menu ul {
	float: left;
	width: 800px;
	margin: 0;
	padding: 7px 0 0 0;
	list-style: none;
}

#menu ul li{
	display: inline;
}

#menu ul li a{
	float: left;
	padding: 0 25px;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: #FFFFFF;
	border-right: 1px solid #FFFFFF;
}

#menu li a:hover, #menu li .current{
	color: #FFFF00;
}

/* end of menu */

/* content */
#content {
	float: left;
	width: 1000px;
}

#main_leftcol {
	float: left;
	width: 630px;
	margin-top: 15px;
}

.leftcol_subcol {
	float: left;
	width: 285px;
	padding: 0 15px 0 0;
	margin-right: 15px;
}

#main_rightcol {
	float: right;
	margin-top: 15px;
	width: 370px;
}

* html #main_rightcol {
	margin-left: -15px;	
}

#topnews {
	display: block;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px dotted #cccccc;
}

#topnews img{
	margin-bottom: 5px;
}

#gallery_section {
	display: block;
	width: 278px;
	padding: 5px 0 5px 5px;
	margin-bottom: 25px;
	border: 1px solid #CCC;
}

#image_section {
	float: left;
	width: 278px;	
	padding-bottom: 5px;
}

#image_section img{
	float: left;
	margin: 0 3px 3px 0;
	border: none;
}

.regular_section {
	display: block;
	width: 285px;
	padding-bottom: 10px;
	margin-bottom: 15px;
	border-bottom: 1px dotted #CCC;
}

.newsbox {
	clear: both;
	width: 285px;
	padding-bottom: 15px;
}


.newsbox img{
	float: left;
	margin: 0 5px 0 0;
	padding: 0px;
}

.newsbox .newstitle {
	font-size: 16px;
	color:#C00;
	font-weight: bold;
}

.newsbox p{
	font-size: 11px;
}

.regular_section ul{
	clear: both;
	margin: 0 0 10px 0;
	padding: 0 0 0 20px;
}

.regular_section li a{
	font-weight: bold;
}

.regular_section li a:hover{
	text-decoration: underline;
}

.leftcol_fullrow {
	clear: both;
	float: left;
	width: 600px;
	padding: 10px 0 0 10px;
	border: 1px solid #CCC;
	margin-bottom: 25px;
	
}

.rcol_sectionwithborder {
	display: block;
	width: 368px;
	border: 1px solid #CCC;
	margin-bottom: 25px;	
}

#video_section {
	display: block;
	width: 358px;
	margin-top: 10px;	
	margin-left: 10px;
}

* html #video_section {
	margin-left: 5px;
}

#video_section .video_box {
	float: left;
	width: 106px;
	margin: 0 10px 10px 0;
}

#video_section .video_box img{
	margin: 0 0 5px 0;
}

#video_section .video_box a{
	font-size: 10px;
	font-weight: bold;
}

#video_section .video_box a span{
	color: #FF0000;
	font-size: 10px;
	font-weight: bold;
}

#newsletter_section {
	width: 348px;
	margin: 10px;
}

#newsletter_section  form {
	margin: 0 30px 0 0;
	text-align: right;
}

#newsletter_section  select {
	width: 200px;
	height: 25px;
	padding: 2px 0;
	margin: 0px;
}

#newsletter_section .form_row{
	padding: 3px 0px;
}


#newsletter_section label {
	margin-right: 10px;
}

#newsletter_section input{
	width: 195px;
	height: 15px;
}

#newsletter_section .button{
	height: 25px;
	width: 80px;
}

#blog_section {
	width: 348px;
	margin: 10px;
}

#blog_section .blog_box {
	padding-bottom: 5px;
	margin-bottom: 5px;
	border-bottom: 1px dotted #CCC;
}

#blog_section .datetime{
	font-weight: bold;
}

#poll_section {
	width: 348px;
	margin: 10px;
}

#poll_section p{
	padding-bottom: 10px;
}


#poll_section img{
	float: right;
}

#poll_section .button{
	height: 25px;
	width: 50px;
	margin-right: 25px;
}

#partner_section {
	width: 348px;
	margin: 10px;
}

.partner_box {
	width: 348px;
	padding: 0px;
	margin-bottom: 25px;
}

.partner_box p{
	clear: both;
}



/* ----- Footer ----- */
#footer {
	clear: both;
	float: left;
	padding: 25px;
	width: 950px;
	color: #FFF;
	text-align: left;
	background: #333333;
}

.footer_leftcol {
	float: left;
	width: 400px;
	padding: 0 0 0 10px;
	margin-right: 25px;
}

.footer_rightcol {
	float: right;
	text-align: right;
	width: 435px;
	text-align: right;
}

.footer_subcol {
	float: left;
	width: 120px;
	margin-left: 25px;
}

#footer p{
	padding: 0;
	margin-bottom: 10px;	
	text-align: justify;
}

#footer a{
	color: #FFF;
	text-decoration: none;
}

#footer a:hover{
	color: #FFF;
	text-decoration: underline;
}

/* ----- End of Footer ----- */
/* ######### CSS for Shade Tabs. Remove if not using ######### */

.tab_section {
	clear: both;
	width: 600px;
	margin-bottom: 25px;
}

.topnews {
	float: left;
	width: 200px;
	padding-right: 10px;
	margin-right: 10px;
	border-right: 1px dotted #CCC;
}
.newslist {
	float: left;
	width: 350px;
}

.newslist ul{
	clear: both;
	margin: 0;
	padding: 0 0 10px 20px;
}
.newslist li {
	padding-bottom: 5px;
}

.newslist li a{
	font-weight: bold;
}

.tabcontent_section {
	clear: both;
	float:left;
	width:580px;
	margin-bottom: 1em;
	padding: 10px;
	border: 1px solid #981b35;
}

.shadetabs{
padding: 3px 0;
margin-left: 0;
margin-top: 1px;
margin-bottom: 0;
font: bold 12px Verdana;
list-style-type: none;
text-align: left; /*set to left, center, or right to align the menu as desired*/
}

.shadetabs li{
display: inline;
margin: 0;
}

.shadetabs li a{
text-decoration: none;
position: relative;
z-index: 1;
padding: 3px 7px;
margin-right: 3px;
border: 1px solid #981b35;
color: #FFFFFF;
background: #750a20;
}

.shadetabs li a:visited{
color: #FFFFFF;
}

.shadetabs li a:hover{
text-decoration: underline;
color: #FFFFFF;
}

.shadetabs li a.selected{ /*selected main tab style */
color: #750a20;
position: relative;
top: 1px;
}

.shadetabs li a.selected{ /*selected main tab style */
background-image: url(../bundles/symfonytndemo/third-party/theme/images/shadeactive.gif);
border-bottom-color: white;
}

.shadetabs li a.selected:hover{ /*selected main tab style */
text-decoration: none;
}

.tabcontent{
display:none;
}

@media print {
.tabcontent {
display:block !important;
}
}

/* ######### CSS for Inverted Modern Bricks II Tabs. Remove if not using ######### */

.modernbricksmenu2{
padding: 0;
width: 362px;
border-top: 5px solid #D25A0B; /*Brown color theme*/ 
background: transparent;
voice-family: "\"}\"";
voice-family: inherit;
}

.modernbricksmenu2 ul{
margin:0;
margin-left: 10px; /*margin between first menu item and left browser edge*/
padding: 0;
list-style: none;
}

.modernbricksmenu2 li{
display: inline;
margin: 0 2px 0 0;
padding: 0;
text-transform:uppercase;
}

.modernbricksmenu2 a{
float: left;
display: block;
font: bold 11px Arial;
color: white;
text-decoration: none;
margin: 0 1px 0 0; /*Margin between each menu item*/
padding: 5px 10px;
background-color: black; /*Brown color theme*/ 
border-top: 1px solid white;
}

.modernbricksmenu2 a:hover{
background-color: #D25A0B; /*Brown color theme*/ 
color: white;
}

.modernbricksmenu2 a.selected{ /*currently selected tab*/
background-color: #D25A0B; /*Brown color theme*/ 
color: white;
border-color: #D25A0B; /*Brown color theme*/ 
}

.tabcontent{
display:none;
}

@media print {
.tabcontent {
display:block !important;
}
}

/* ######### CSS for Indented CSS Tabs. Remove if not using ######### */


.indentmenu{
font: bold 13px Arial;
width: 100%; /*leave this value as is in most cases*/
}

.indentmenu ul{
margin: 0;
padding: 0;
float: left;
/* width: 80%; width of menu*/
border-top: 1px solid navy; /*navy border*/
background: black url(../bundles/symfonytndemo/third-party/theme/indentbg.gif) center center repeat-x;
}

.indentmenu ul li{
display: inline;
}

.indentmenu ul li a{
float: left;
color: white; /*text color*/
padding: 5px 11px;
text-decoration: none;
border-right: 1px solid navy; /*navy divider between menu items*/
}

.indentmenu ul li a:visited{
color: white;
}

.indentmenu ul li a.selected{
color: white !important;
padding-top: 6px; /*shift text down 1px*/
padding-bottom: 4px;
background: black url(../bundles/symfonytndemo/third-party/theme/indentbg2.gif) center center repeat-x;
}


.tabcontentstyle{ /*style of tab content oontainer*/
border: 1px solid gray;
width: 450px;
margin-bottom: 1em;
padding: 10px;
}

.tabcontent{
display:none;
}

@media print {
.tabcontent {
display:block !important;
}
}